{% extends 'index.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
    {%block block_posts%}
        {% if post %}
            <form method="get" action="{% url 'post-update' post.id %}">
                <button>Update this post</button>
            </form>
            <form method="post" action="{% url 'post-delete' post.id %}">
                {% csrf_token %}
                <button>Delete this post</button>
            </form>
                <table width=100% border=1px>
                    <tr>
                        <th>Name</th>
                        <th>Text</th>
                        <th>Price</th>
                        <th>Rating</th>
                    </tr>

                    <tr>
                        <td>{{ post.name }}</td>
                        <td>{{ post.text }}</td>
                        <td>{{ post.price }}</td>
                        <td>{{ post.rating }}</td>
                    </tr>
                </table>
        {% else %}
            <h1>NOT FOUND</h1>
        {% endif %}
    {%endblock %}

</body>
</html>