{% extends 'index.html' %}

{% block title %}
More about
{% endblock %}

{% block content %}
    {% if collection %}
        <h2> More about collection "{{ collection.name }}"</h2>
        <div class="btn-group">
        <form method="get" action="{% url 'collection-update' collection.id %}">
            <button style="background:LightSeaGreen;border-radius:10px;border:2px">Update this collection</button>
        </form>
        <form method="post" action="{% url 'collection-delete' collection.id %}">
            {% csrf_token %}
            <button style="background:LightCoral;border-radius:10px;border:2px">Delete this collection</button>
        </form>

        <form method="post" action="{% url 'relation-create' collection.id%}">
            {% csrf_token %}
            <button style="background:LightCoral;border-radius:10px;border:2px">Add record to collection</button>
        </form>
        </div>
        <br>
        <br>
        <table width=70% border=1px>
            <tr bgcolor="teal" style="color: white">
                <th>Name</th>
                <th>Owner</th>
                <th>Year of start</th>
                <th>Number of records</th>
                <th>Cost of collection</th>
            </tr>
            <tr>
                <td>{{ collection.name }}</td>
                <td>{{ collection.owner }}</td>
                <td>{{ collection.start_year }}</td>
                <td>{{ collection.number_records }}</td>
                <td>{{ collection.collection_cost }}</td>
            </tr>
        </table>
        <br>
        <br>

        {% include "relation/relation_detail.html"%}

    {% else %}
        <h1>NOT FOUND</h1>
    {% endif %}

{% endblock %}
